@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* ## Colors  */
  /* ### Primary  */
  --cl-Desaturated-Dark-Cyan: hsl(180, 29%, 50%);
  /* ### Neutral  */
  /* Background */
  --cl-Light-Grayish-Cyan: hsl(180, 52%, 96%);
  /* Filter Tablets  */
  --cl-Light-Grayish-Cyan-2: hsl(180, 31%, 95%);
  --cl-Dark-Grayish-Cyan: hsl(180, 8%, 52%);
  --cl-Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
}


body {
  font-size: 15px;
}

main {
  background: var(--cl-Light-Grayish-Cyan);
}

main>div {
  width: min(90%, 1000px);
}

.MuiButton-root {
  background-color: var(--cl-Light-Grayish-Cyan-2);
}

.MuiCard-root {
  box-shadow: 0 .2rem 1rem rgba(48, 61, 39, 0.152);
}

.remove-btn {
  background: var(--cl-Desaturated-Dark-Cyan);
  padding: 0 .65rem;
}