:root {
  /* ## Colors  */
  /* ### Primary  */
  --cl-Desaturated-Dark-Cyan: hsl(180, 29%, 50%);
  /* ### Neutral  */
  /* Background */
  --cl-Light-Grayish-Cyan: hsl(180, 52%, 96%);
  /* Filter Tablets  */
  --cl-Light-Grayish-Cyan-2: hsl(180, 31%, 95%);
  --cl-Dark-Grayish-Cyan: hsl(180, 8%, 52%);
  --cl-Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
}


body {
  font-size: 15px;
}